<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.myhighschoolproject.highschoolproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/temp_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SpecialSchool"
            android:label="@string/title_activity_speial_school" >
        </activity>
        <activity
            android:name=".MajorSchool"
            android:label="@string/title_activity_major" >
        </activity>
        <activity
            android:name=".FreeSchool"
            android:label="@string/title_activity_free_school" >
        </activity>
        <activity
            android:name=".GeneralSchool"
            android:label="@string/title_activity_general_school" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".Information"
            android:label="@string/title_activity_infromation" >
        </activity>
        <activity
            android:name=".Temp_Special"
            android:label="@string/title_activity_temp__special" >
        </activity>
        <activity
            android:name=".ListView01"
            android:label="@string/title_activity_list_view01" >
        </activity>
        <activity
            android:name=".List02_Science"
            android:label="@string/title_activity_list02__science" >
        </activity>
    </application>

</manifest>
